section{
    display: flex;
    width: 100%;
    color: #fff;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizsection{
    display: flex;
    width: 100%;
    
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #0D1321;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

body.light-mode #Projects img{
  border: 3px solid #C5832B;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

body.light-mode {
  background-color: #FFF0D1;
  color: #333;
}

body.light-mode .header {
  background-color: #FFF0D1;
  color: #333;
}

body.light-mode .navbar a{
  font-weight: 500;
}
body.light-mode .navbar a::before {
  background: #333;
}

body.light-mode .social-links a {
  color: #333;
}

body.light-mode .hi,
body.light-mode .motto,
body.light-mode .intro,
body.light-mode #Skills h1,
body.light-mode #Skills h2,
body.light-mode .currently-learning,
body.light-mode .caption h1,
body.light-mode .caption h2,
body.light-mode #Contact h2,
body.light-mode input[type="email"],
body.light-mode .submit {
  color: black;
  font-weight: 500;
}

body.light-mode .submit {
  background-color: #333;
  color: #fff;
}

body.light-mode .social-links a:hover {
  color: rgb(109, 109, 109);
}


body {
  background-color: #0D1321;
  color: #fff;
}

.header {
  background-color: #0D1321;
}

.logo {
  color: #C5832B;
}

.navbar a {
  color: #C5832B;
}

.navbar a::before {
  background: #C5832B;
}

.social-links a {
  color: white;
}

.hi,
.motto,
.intro,
#Skills h1,
#Skills h2,
.currently-learning,
.caption h1,
.caption h2,
#Contact h2,
input[type="email"],
.submit {
  color: #fff;
}

.submit {
  background-color: #C5832B;
  color: white;
}

.submit:hover {
  background-color: #C5832B;
  transform: scale(1.1);
}


#sun{
  color: gold;
}



#Skills{
    height: 90vh;
    display: flex;
    padding-left: 100px;
    flex-direction: column;
  
  }
  #Projects{
    height: 90vh;
    display: flex;
    align-items:flex-start;
    justify-content: center;
    padding-top: 40px;
  }
  #Contact{
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background-color: #0D1321;
  }
  .logo{
    font-size: 32px;
    color: #C5832B;
    text-decoration: none;
    font-weight: 700;
  }
  .navbar a{
    position: relative;
    color: #C5832B;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s
  }
  .navbar a::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    background: #C5832B;;
    transition: .3s;
  }
  .navbar a:hover::before{
    width: 100%;
  }

  .fa-sun, .fa-moon {
    font-size: 20px;
    width: 20px; 
    height: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
 
  #sun:hover {
    transform: scale(1.1);
}
  .fa-square-github{
    color: #fff;
    height: 100px;
    width: 100px;
    font-size: 100%;
    height: 0;
  }
  .container h1 {
    line-height: 1;
    color: #C5832B
  }
  #Home{
    height: 90vh;
    display: flex;
    align-items: center;
    padding-left: 100px;
  }
  .hi{
    color:#fff} 
  .motto{
    margin: 0;
    padding: 0;
    color:rgb(148, 163, 184);
  }
  .intro{
    color:rgb(148, 163, 184);
    font-weight: 400;
  }
  .social-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 40%;
    right: 90px;
    transform: translateY(-50%);
  }
  .social-links a {
    color: white;
    transition: color 0.2s ease;
  }
  
  .social-links a:hover {
    color: #666;
  }
  
  .social-links i {
    font-size: 24px;
  }
  .social-links li i{
    font-size: inherit;
  }
  #Skills{
    height: 90vh;
    display: flex;
    padding-left: 100px;
    flex-direction: column;
  
  }
  #Projects{
    height: 90vh;
    display: flex;
    align-items:flex-start;
    justify-content: center;
    padding-top: 40px;
    flex-direction:row;
  }
  #Contact{
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #Skills h1{
    margin-bottom:20px;
  }
  
  #Skills h2{
    text-align: left;
    color:rgb(148, 163, 184);
  }
  span{
    color: #C5832B;
  }
  .currently-learning{
    margin-top: 60px;
  }
  .pj {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 25px 25px;
    grid-auto-flow: row;
    grid-template-areas:
      "pj1 caption1"
      "caption2 pj2";
    width: 80%;
    height: 10%;
    border-radius: 70px;
  }
  .pj1 { 
    grid-area: pj1;
    
   }
  
  .pj2 { grid-area: pj2; }
  
  .caption1 { grid-area: caption1; }
  
  .caption2 { grid-area: caption2; }
  .caption a{
    text-decoration: none;
    color: #fff;
  }
  
  .pj img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
  }
  .caption h1{
    font-weight: 400;
  }
  .caption h2{
    color:rgb(148, 163, 184);
    font-weight: 400;
  }
  #Contact h2{
    margin-right: 30px;
  }
  input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .submit {
    background-color:rgb(148, 163, 184);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 30px;
  }
  .submit:hover {
    background-color:#C5832B;
    transform: scale(1.1);
  }
  .navbar i{
    margin-left: 20px;
    color: #fff;
  }
 @media only screen and (min-width: 1201px){
    .navbar a{
        margin: 20px;
        font-size: 25px;
    }
      .navbar a::before {
        height: 4px;
    }
      #Home{
        padding-left: 100px;
    }
      .container h1{
        font-size: 65px;
    }
      .hi{
        font-size: 25px;
    }
      .motto{
        font-size: 45px;
    }
      .intro{
        font-size:20px;
    }
      .social-links li {
        font-size: 40px;
    }
      #Skills h1{
        font-size: 50px;
    }
      
      #Skills h2{
        font-size: 20px;
        font-weight: 400;

    } 
      .pj {
        gap: 25px 25px;
        width: 80%;
        height: 10%;
        border-radius: 70px;
    }
      .caption h1{
        font-size: 35px;
        font-weight: 400;
    }
    .caption h2{
        font-size: 20px;
    }
    #Contact h2{
        font-size: 30px;
    }
    input[type="email"] {
        font-size: 15px;
    }
    .submit {
        font-size: 15px;
     }
      .navbar i{
        font-size: 30px;
    }
  }
  @media screen and (min-width: 992px) and (max-width: 1200px) {
  
    .header{
        padding: 5px 10px;
      }
    .navbar a{
        margin-left: 15px;
        font-size: 22px;
    }
      .navbar a::before {
        height: 4px;
    }
    .fa-sun:before{
        font-size: 25px;
    }
    .logo{
        font-size: 27px;
    }
      #Home{
        padding-left: 50px;
        align-items: baseline;
        padding-top: 70px;
        height: 80vh;
        width: 90%;
    }
      .container h1{
        font-size: 45px;
    }
      .hi{
        font-size: 20px;
    }
      .motto{
        font-size: 30px;
    }
    .social-links {
        top: 360px;
        left: 30px;
        flex-direction: row;
    }
      .intro{
        font-size:17px;
    }
      .social-links li {
        font-size: 40px;
        margin-left: 20px;
    }
    #Skills{
      height: 90vh;
      padding-left: 50px;
      width: 90%;
    
    }
      #Skills h1{
        font-size: 40px;
    }
      
      #Skills h2{
        font-size: 17px;
        font-weight: 400;

    }
    #Projects{
      height: 100vh;
      display: flex;
      justify-content: flex-start;
      padding-left: 50px;
      padding-top: 60px;
    } 
  
    .pj {  display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 25px 25px;
      grid-auto-flow: row;
      grid-template-areas:
        "pj1 caption1"
        "caption2 pj2";
      width: 95%;
      height: 100%;
      border-radius: 70px;
    }
    .caption h1{
        font-size: 30px;
        font-weight: 400;
    }
    .caption h2{
        font-size: 17px;
    }
    #Contact{
      height: 10vh;
      display: flex;

    }
    #Contact h2{
        font-size: 20px;
    }
    input[type="email"] {
        font-size: 10px;
    }
    .submit {
        font-size: 10px;
     }
      .navbar i{
        font-size: 20px;
    }
}
 @media screen and (min-width:768px) and (max-width: 991px) {
    .header{
      padding: 5px 10px;
    }
  .navbar a{
      margin-left: 15px;
      font-size: 22px;
  }
    .navbar a::before {
      height: 4px;
  }
  #sun{
      font-size: 25px;
      margin-right: 20px;
  }
  .logo{
      font-size: 27px;
      margin-left: 20px;
  }
    #Home{
      padding-left: 50px;
      align-items: baseline;
      padding-top: 70px;
      height: 60vh;
      width: 90%;
  }
    .container h1{
      font-size: 45px;
  }
    .hi{
      font-size: 20px;
  }
    .motto{
      font-size: 30px;
  }
  .social-links {
      top: 400px;
      left: 30px;
      flex-direction: row;
  }
    .intro{
      font-size:17px;
  }
    .social-links li {
      font-size: 40px;
      margin-left: 20px;
  }
  #Skills{
    height: 80vh;
    padding-left: 50px;
    width: 90%;
  
  }
    #Skills h1{
      font-size: 40px;
  }
    
    #Skills h2{
      font-size: 17px;
      font-weight: 400;

  }
  #Projects{
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    padding-left: 50px;
    padding-top: 30px;
  } 
  .pj {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    gap: 25px 25px;
    grid-auto-flow: row;
    grid-template-areas:
      "caption1"
      "pj1"
      "caption2"
      "pj2"
      ;
    width: 80%;
    height: 100%;
    border-radius: 70px;
  }
  .caption h1{
      font-size: 30px;
      font-weight: 400;
  }
  .caption h2{
      font-size: 17px;
  }
  #Contact{
    height: 10vh;
    display: flex;

  }
  #Contact h2{
      font-size: 20px;
  }
  input[type="email"] {
      font-size: 10px;
  }
  .submit {
      font-size: 10px;
   }
    .navbar i{
      font-size: 20px;
  }
}
@media screen and (min-width:481px) and (max-width: 767px) {
    .header{
      padding: 5px 10px;
}
  .navbar a{
      margin-left: 15px;
      font-size: 20px;
  }
    .navbar a::before {
      height: 4px;
  }
  .fa-sun:before{
      font-size: 25px;
  }
  .logo{
      font-size: 27px;
  }
    #Home{
      padding-left: 50px;
      align-items: baseline;
      padding-top: 70px;
      height: 60vh;
      width: 90%;
  }
    .container h1{
      font-size: 45px;
  }
    .hi{
      font-size: 20px;
  }
    .motto{
      font-size: 30px;
  }
  .social-links {
      top: 400px;
      left: 40px;
      flex-direction: row;
  }
    .intro{
      font-size:17px;
  }
    .social-links li {
      font-size: 40px;
      margin-left: 20px;
  }
  #Skills{
    height: 80vh;
    padding-left: 50px;
    width: 90%;
  
  }
    #Skills h1{
      font-size: 40px;
  }
    
    #Skills h2{
      font-size: 17px;
      font-weight: 400;

  }
  #Projects{
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    padding-left: 50px;
    padding-top: 80px;
  } 
  .pj {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    gap: 25px 25px;
    grid-auto-flow: row;
    grid-template-areas:
      "caption1"
      "pj1"
      "caption2"
      "pj2"
      ;
    width: 80%;
    height: 10%;
    border-radius: 70px;
  }
    .caption h1{
      font-size: 30px;
      font-weight: 400;
  }
  .caption h2{
      font-size: 17px;
  }
  #Contact{
    height: 10vh;
    display: flex;

  }
  #Contact h2{
      font-size: 20px;
  }
  input[type="email"] {
      font-size: 10px;
  }
  .submit {
      font-size: 10px;
   }
    .navbar i{
      font-size: 20px;
  }
  }
@media screen and  (max-width:480px){
    .header{
      padding: 5px 5px;
}

  .navbar a{
      font-size: 17px;
      padding-left: 10px;
  }
  #sun{
      font-size: 25px;

  }
  .logo{
      font-size: 27px;
  }
    #Home{
      padding-left: 30px;
      align-items: baseline;
      padding-top: 70px;
      height: 60vh;
      width: 90%;
  }
    .container h1{
      font-size: 25px;
  }
    .hi{
      font-size: 15px;
  }
    .motto{
      font-size: 20px;
  }
  .social-links {
      top: 300px;
      left: 15px;
      flex-direction: row;
  }
    .intro{
      font-size:10px;
  }
    .social-links li {
      font-size: 20px;
      margin-left: 20px;
  }
  #Skills{
    height: 80vh;
    padding-left: 30px;
    width: 90%;
  
  }
    #Skills h1{
      font-size: 25px;
  }
    
    #Skills h2{
      font-size: 10px;
      font-weight: 400;

  }
  #Projects{
    height: 80vh;
    display: flex;
    justify-content: flex-start;
    padding-left: 30px;
    padding-top: 0;
  } 
  .pj {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    gap: 25px 25px;
    grid-auto-flow: row;
    grid-template-areas:
      "caption1"
      "pj1"
      "caption2"
      "pj2"
      ;
    width: 80%;
    height: 10%;
    border-radius: 70px;
  }
    .caption h1{
      font-size: 20px;
      font-weight: 400;
  }
  .caption h2{
      font-size: 10px;
  }
  #Contact{
    height: 30vh;
    display: flex;
    flex-direction: column;

  }
  #Contact h2{
      font-size: 10px;
  }
  input[type="email"] {
      font-size: 10px;
  }
  .submit {
      font-size: 5px;
   }
    .navbar i{
      font-size: 20px;
  }

  .submit {
    padding: 10px 20px;
    margin-left: 0px;
  }

} 
.pj img {
  transition: transform 0.8s ease;
}
.pj img:hover {
  transform: scale(1.05); 
}
.social-links i {
  transition: transform 0.7s ease;
}
.social-links a:hover i {
  transform: rotate(360deg);
}

ing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #0D1321;
}
#Skills{
    height: 90vh;
    display: flex;
    padding-left: 100px;
    flex-direction: column;
  
  }
  #Projects{
    height: 90vh;
    display: flex;
    align-items:flex-start;
    justify-content: center;
    padding-top: 40px;
  }
  #Contact{
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background-color: #0D1321;
  }
  .logo{
    font-size: 32px;
    color: #C5832B;
    text-decoration: none;
    font-weight: 700;
  }
  .navbar a{
    position: relative;
    
    color: #C5832B;
    font-weight: 500;
    text-decoration: none;
  }
  .navbar a::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    background: #C5832B;;
    transition: .3s;
  }
  .navbar a:hover::before{
    width: 100%;
  }
  .fa-square-github{
    color: #fff;
    height: 100px;
    width: 100px;
    font-size: 100%;
    height: 0;
  }
  .container h1 {
    line-height: 1;
    color: rgb(229, 231, 235)
  }
  #Home{
    height: 90vh;
    display: flex;
    align-items: center;
    padding-left: 100px;
  }
  .hi{
    color: #C5832B;
  } 
  .motto{
    margin: 0;
    padding: 0;
    color:rgb(148, 163, 184);
  }
  .intro{
    color:rgb(148, 163, 184);
    font-weight: 400;
  }
  .social-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 40%;
    right: 90px;
    transform: translateY(-50%);
  }
  .social-links a {
    color: white;
    transition: color 0.2s ease;
  }
  
  .social-links a:hover {
    color: #666;
  }
  
  .social-links i {
    font-size: 24px;
  }
  .social-links li i{
    font-size: inherit;
  }
  #Skills{
    height: 90vh;
    display: flex;
    padding-left: 100px;
    flex-direction: column;
  
  }
  #Projects{
    height: 90vh;
    display: flex;
    align-items:flex-start;
    justify-content: center;
    padding-top: 40px;
    flex-direction:row;
  }
  #Contact{
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #Skills h1{
    margin-bottom:20px;
  }
  
  #Skills h2{
    text-align: left;
    color:rgb(148, 163, 184);
  }
  span{
    color: #C5832B;
  }
  .currently-learning{
    margin-top: 60px;
  }
  .pj {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 25px 25px;
    grid-auto-flow: row;
    grid-template-areas:
      "pj1 caption1"
      "caption2 pj2";
    width: 80%;
    height: 10%;
    border-radius: 70px;
  }
  .pj1 { 
    grid-area: pj1;
    
   }
  
  .pj2 { grid-area: pj2; }
  
  .caption1 { grid-area: caption1; }
  
  .caption2 { grid-area: caption2; }
  .caption a{
    text-decoration: none;
    color: #fff;
  }
  
  .pj img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
  }
  .caption h1{
    font-weight: 400;
  }
  .caption h2{
    color:rgb(148, 163, 184);
    font-weight: 400;
  }
  #Contact h2{
    margin-right: 30px;
  }
  input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .submit {
    background-color:rgb(148, 163, 184);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 30px;
  }
  .submit:hover {
    background-color:#C5832B;
    transform: scale(1.1);
  }
  .navbar i{
    margin-left: 20px;
    color: #fff;
  }















  @media only screen and (min-width: 1201px){
    .navbar a{
        margin: 20px;
        font-size: 25px;
    }
      .navbar a::before {
        height: 4px;
    }
      #Home{
        padding-left: 100px;
    }
      .container h1{
        font-size: 65px;
    }
      .hi{
        font-size: 25px;
    }
      .motto{
        font-size: 45px;
    }
      .intro{
        font-size:20px;
    }
      .social-links li {
        font-size: 40px;
    }
      #Skills h1{
        font-size: 50px;
    }
      
      #Skills h2{
        font-size: 20px;
        font-weight: 400;

    } 
      .pj {
        gap: 25px 25px;
        width: 80%;
        height: 10%;
        border-radius: 70px;
    }
      .caption h1{
        font-size: 35px;
        font-weight: 400;
    }
    .caption h2{
        font-size: 20px;
    }
    #Contact h2{
        font-size: 30px;
    }
    input[type="email"] {
        font-size: 15px;
    }
    .submit {
        font-size: 15px;
     }
      .navbar i{
        font-size: 30px;
    }
}















@media screen and (min-width: 992px) and (max-width: 1200px) {
  
    .header{
        padding: 5px 10px;
      }
    .navbar a{
        margin-left: 15px;
        font-size: 22px;
    }
      .navbar a::before {
        height: 4px;
    }
    .fa-sun:before{
        font-size: 25px;
    }
    .logo{
        font-size: 27px;
    }
      #Home{
        padding-left: 50px;
        align-items: baseline;
        padding-top: 70px;
        height: 80vh;
        width: 90%;
    }
      .container h1{
        font-size: 45px;
    }
      .hi{
        font-size: 20px;
    }
      .motto{
        font-size: 30px;
    }
    .social-links {
        top: 360px;
        left: 30px;
        flex-direction: row;
    }
      .intro{
        font-size:17px;
    }
      .social-links li {
        font-size: 40px;
        margin-left: 20px;
    }
    #Skills{
      height: 90vh;
      padding-left: 50px;
      width: 90%;
    
    }
      #Skills h1{
        font-size: 40px;
    }
      
      #Skills h2{
        font-size: 17px;
        font-weight: 400;

    }
    #Projects{
      height: 100vh;
      display: flex;
      justify-content: flex-start;
      padding-left: 50px;
      padding-top: 60px;
    } 
  
    .pj {  display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 25px 25px;
      grid-auto-flow: row;
      grid-template-areas:
        "pj1 caption1"
        "caption2 pj2";
      width: 95%;
      height: 100%;
      border-radius: 70px;
    }
    .caption h1{
        font-size: 30px;
        font-weight: 400;
    }
    .caption h2{
        font-size: 17px;
    }
    #Contact{
      height: 10vh;
      display: flex;

    }
    #Contact h2{
        font-size: 20px;
    }
    input[type="email"] {
        font-size: 10px;
    }
    .submit {
        font-size: 10px;
     }
      .navbar i{
        font-size: 20px;
    }
}




  @media screen and (min-width:768px) and (max-width: 991px) {
    .header{
      padding: 5px 10px;
    }
  .navbar a{
      margin-left: 15px;
      font-size: 22px;
  }
    .navbar a::before {
      height: 4px;
  }
  .fa-sun:before{
      font-size: 25px;
      margin-right: 20px;
  }
  .logo{
      font-size: 27px;
      margin-left: 20px;
  }
    #Home{
      padding-left: 50px;
      align-items: baseline;
      padding-top: 70px;
      height: 60vh;
      width: 90%;
  }
    .container h1{
      font-size: 45px;
  }
    .hi{
      font-size: 20px;
  }
    .motto{
      font-size: 30px;
  }
  .social-links {
      top: 400px;
      left: 30px;
      flex-direction: row;
  }
    .intro{
      font-size:17px;
  }
    .social-links li {
      font-size: 40px;
      margin-left: 20px;
  }
  #Skills{
    height: 80vh;
    padding-left: 50px;
    width: 90%;
  
  }
    #Skills h1{
      font-size: 40px;
  }
    
    #Skills h2{
      font-size: 17px;
      font-weight: 400;

  }
  #Projects{
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    padding-left: 50px;
    padding-top: 30px;
  } 
  .pj {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    gap: 25px 25px;
    grid-auto-flow: row;
    grid-template-areas:
      "caption1"
      "pj1"
      "caption2"
      "pj2"
      ;
    width: 80%;
    height: 100%;
    border-radius: 70px;
  }
  .caption h1{
      font-size: 30px;
      font-weight: 400;
  }
  .caption h2{
      font-size: 17px;
  }
  #Contact{
    height: 10vh;
    display: flex;

  }
  #Contact h2{
      font-size: 20px;
  }
  input[type="email"] {
      font-size: 10px;
  }
  .submit {
      font-size: 10px;
   }
    .navbar i{
      font-size: 20px;
  }
}







  @media screen and (min-width:481px) and (max-width: 767px) {
    .header{
      padding: 5px 10px;
}
  .navbar a{
      margin-left: 15px;
      font-size: 20px;
  }
    .navbar a::before {
      height: 4px;
  }
  .fa-sun:before{
      font-size: 25px;
  }
  .logo{
      font-size: 27px;
  }
    #Home{
      padding-left: 50px;
      align-items: baseline;
      padding-top: 70px;
      height: 60vh;
      width: 90%;
  }
    .container h1{
      font-size: 45px;
  }
    .hi{
      font-size: 20px;
  }
    .motto{
      font-size: 30px;
  }
  .social-links {
      top: 400px;
      left: 40px;
      flex-direction: row;
  }
    .intro{
      font-size:17px;
  }
    .social-links li {
      font-size: 40px;
      margin-left: 20px;
  }
  #Skills{
    height: 80vh;
    padding-left: 50px;
    width: 90%;
  
  }
    #Skills h1{
      font-size: 40px;
  }
    
    #Skills h2{
      font-size: 17px;
      font-weight: 400;

  }
  #Projects{
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    padding-left: 50px;
    padding-top: 80px;
  } 
  .pj {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    gap: 25px 25px;
    grid-auto-flow: row;
    grid-template-areas:
      "caption1"
      "pj1"
      "caption2"
      "pj2"
      ;
    width: 80%;
    height: 10%;
    border-radius: 70px;
  }
    .caption h1{
      font-size: 30px;
      font-weight: 400;
  }
  .caption h2{
      font-size: 17px;
  }
  #Contact{
    height: 10vh;
    display: flex;

  }
  #Contact h2{
      font-size: 20px;
  }
  input[type="email"] {
      font-size: 10px;
  }
  .submit {
      font-size: 10px;
   }
    .navbar i{
      font-size: 20px;
  }
  }








  @media screen and  (max-width:480px){
    .header{
      padding: 5px 5px;
}

  .navbar a{
      font-size: 17px;
      padding-left: 10px;
  }
  .fa-sun:before{
      font-size: 25px;

  }
  .logo{
      font-size: 27px;
  }
    #Home{
      padding-left: 30px;
      align-items: baseline;
      padding-top: 70px;
      height: 70vh;
      width: 90%;
  }
    .container h1{
      font-size: 25px;
  }
    .hi{
      font-size: 15px;
  }
    .motto{
      font-size: 20px;
  }
  .social-links {
      top: 300px;
      left: 15px;
      flex-direction: row;
  }
    .intro{
      font-size:10px;
  }
    .social-links li {
      font-size: 20px;
      margin-left: 20px;
  }
  #Skills{
    height: 120vh;
    padding-left: 30px;
    width: 90%;
  
  }
    #Skills h1{
      font-size: 25px;
  }
    
    #Skills h2{
      font-size: 10px;
      font-weight: 400;

  }
  #Projects{
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    padding-left: 30px;
    padding-top: 0;
  } 
  .pj {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    gap: 25px 25px;
    grid-auto-flow: row;
    grid-template-areas:
      "caption1"
      "pj1"
      "caption2"
      "pj2"
      ;
    width: 80%;
    height: 10%;
    border-radius: 70px;
  }
    .caption h1{
      font-size: 20px;
      font-weight: 400;
  }
  .caption h2{
      font-size: 10px;
  }
  #Contact{
    height: 40vh;
    display: flex;
    flex-direction: column;

  }
  #Contact h2{
      font-size: 10px;
  }
  input[type="email"] {
      font-size: 10px;
  }
  .submit {
      font-size: 5px;
   }
    .navbar i{
      font-size: 20px;
  }

  .submit {
    padding: 10px 20px;
    margin-left: 0px;
  }

} 
